
body {
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.6;
    color: #333;
    background: #FDE5D6;
}

.container {
    max-width: 800px;
    margin: auto;
    background: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 5px;
}

h1 {
    color: #333;
}

.meta {
    font-size: 0.9em;
    color: #666;
}

.content {
    margin-top: 20px;
}

a {
    color: #FA8072;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.content-image {
    max-width: 100%;
    height: auto;
    display: block; /* Ensures image takes up its own line */
    margin: 10px auto; /* Centers the image and adds some vertical spacing */
}


